<div class="container">
  <div class="row">

    <!-- //////////////First Column/////////// -->
    <div class="col-sm h-100">

      <div class="sortable" [sortablejs]="items" [sortablejsOptions]="options"
        [sortablejsCloneFunction]="myCloneImplementation">
        <div *ngFor="let item of items" class="w-100 mh-100">
          <br><br>
          <div class="card" *ngIf = "item.count">
            <h4 class="card-header">{{item.count}}</h4>
          </div>

          <!-- <img [src]="item.item" class="w-100"> -->
          <ul *ngIf="item.people" class="list-group">
            <li *ngFor = "let person of item.people; index as i" class="list-group-item">
              <div>{{i+1}}. {{person.name}}</div>
            </li>
          </ul>

          <div *ngIf="item.item" >
            <img [src]="item.item" class="w-100">
          </div>
          
        </div>
      </div>
      <br>
      
    </div>
    <!-- //////////////First Column/////////// -->



    <!-- //////////////Second Column/////////// -->
    <div class="col-sm w-50">
      <div class="sortable" [sortablejs]="citiesBS | async" [sortablejsOptions]="options"
        [sortablejsCloneFunction]="myCloneImplementation">
        <ul *ngFor="let city of citiesBS | async" class="list-group">
          <br>
          <ul class="list-group">
            <li *ngFor="let people of city.people; index as i" class="list-group-item">
              <div class="w-100">{{i+1}}. {{people.name}} </div>
            </li>
            <li *ngIf="city.item" class="list-group-item">
              <div class="w-50"><img [src]="city.item"> </div>
            </li>
            <li *ngIf="city.count" class="list-group-item">
              <div class="w-50"> {{city.count}}</div>
            </li>
          </ul>
        </ul>
      </div>


      <div class="sortable" [sortablejs]="countriesBS | async" [sortablejsOptions]="options"
        [sortablejsCloneFunction]="myCloneImplementation">
        <ul *ngFor="let city of countriesBS | async" class="list-group">
          <br>
          <ul class="list-group">
            <li *ngFor="let people of city.people; index as i" class="list-group-item">
              <div>{{i+1}}. {{people.name}} </div>
            </li>
            <li *ngIf="city.item" class="list-group-item ">
              <div><img [src]="city.item"> </div>
            </li>
            <li *ngIf="city.count" class="list-group-item">
              <div class="w-50"> {{city.count}}</div>
            </li>
          </ul>
        </ul>
      </div>
      <br>

      <!-- <div class="alert alert-dark">
            {{ countries | json }}
          </div> -->

    </div>
    <!-- //////////////Second Column/////////// -->



    <!-- //////////Third Column/////////// -->
    <div class="col-sm">

      <div class="nav nav-pills mb-3 sortable" [sortablejs]=" images" [sortablejsOptions]="options"
        [sortablejsCloneFunction]="myCloneImplementation2">
        <div *ngFor="let pic of images" class="w-100">
          <br><br>
          <div *ngIf="pic.item">
            <img class="w-100" [src]="pic.item">
          </div>


          <div class="card mh-100" *ngIf="pic.count">
            <li class="card-header">
              <div class="w-50"><b> {{pic.count}} </b></div>
            </li>
          </div>

          <ul *ngIf = "pic.people" class="list-group">
            <li class="list-group-item" *ngFor="let person of pic.people">
              <div>{{person.name}}</div>
            </li>
          </ul>


        </div>
        <br>
      </div>
      <br>
      <!-- <div class="alert alert-dark">
        {{ images | json }}
      </div> -->

    </div>
    <!-- //////////Third Column/////////// -->

  </div>
</div>



