<div class="container">
  <div class="row">

    <!-- //////////////First Column/////////// -->

    <div class="col-sm h-100 row align-items-center ">
      
      <div class="sortable" [sortablejs]="items" [sortablejsOptions]="options"
        [sortablejsCloneFunction]="myCloneImplementation">
        <div class="card" style="width: 378px;" *ngFor="let people of items">
            <div class="card-body" style="background-color: beige;"> {{people.count}}</div>
            <img class="card-body" style="width: 378px;" src="{{people.pic}}">

              
            <!-- <img class="card-body" style="width: 378px;" src="{{people.pic}}"> -->
          </div>

      </div>


  

  </div>
  <!-- //////////////First Column/////////// -->



  <!-- //////////////Second Column/////////// -->
  <div class="col-sm">
    <div class="nav nav-pills mb-3 sortable" [sortablejs]="cities" [sortablejsOptions]="options"
      [sortablejsCloneFunction]="myCloneImplementation">


      <ul *ngFor="let city of cities" class="list-group w-100">
        <!-- <h4>List Of People In U.K. </h4> -->
        <ul class="list-group">
          <li class="card" *ngFor="let people of city.people; index as i" class="list-group-item">
            <div class="card-header">{{i+1}}. {{people.name}} </div>
          </li>
        </ul>
      </ul>
    </div>

    <div class="nav nav-pills mb-3 sortable" [sortablejs]="countries" [sortablejsOptions]="options"
      [sortablejsCloneFunction]="myCloneImplementation">
      <ul *ngFor="let city of countries" class="list-group w-100">
        <!-- <h4>List Of People In U.K.</h4> -->
        <ul class="list-group">
          <li class="card" *ngFor="let people of city.people; index as i" class="list-group-item">
            <div class="card-header">{{i+1}}. {{people.name}} </div>
          </li>
        </ul>
      </ul>
    </div>
  </div>
  <!-- //////////////Second Column/////////// -->



  <!-- //////////Third Column/////////// -->
  <div class="col-sm">

    <div class="nav nav-pills mb-3 sortable" [sortablejs]=" images" [sortablejsOptions]="options"
      [sortablejsCloneFunction]="myCloneImplementation">
      <div class="card" style="width: 378px;" *ngFor="let people of images">
        <img class="card-body" style="width: 378px;" src="{{people}}">
      </div>
    </div>
    <br><br>


  </div>

</div>
</div>





















<div>
  <br>


  <!-- <div class="nav nav-pills mb-3 " [sortablejs]="Block1" [sortablejsOptions]="options"
    [sortablejsCloneFunction]="myCloneImplementation">
        <ul>
            <li *ngFor="let block of Block1">
                {{ block }} 
           </li>
        </ul>
    </div> -->

  <br>

  <br>
  <!-- <div class="nav nav-pills mb-3 " [sortablejs]="list3" [sortablejsOptions]="options"
    [sortablejsCloneFunction]="myCloneImplementation">
    <div class="nav-item" *ngFor="let city of list3">
      <a class="nav-link active mr-1">{{ city }}</a>

    </div>

  </div> -->

</div>



<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- <nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" [sortablejs]="cities">
    <li class="breadcrumb-item active" *ngFor="let city of cities">{{ city }}</li>
  </ol>
</nav> -->

<!-- <h2 class="mt-4 mb-3">The actual model</h2>

<div class="alert alert-dark">
  > {{ cities | json }}
</div> -->